<h1 class="mdc-typography--headline2">Results</h1>
<% @searches.each do |search| %>
  <h2 class="mdc-typography--headline4"><%= search.name %></h2>
  <div class="">
    Query: <%= search.actual_query %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Similarity</th>
      </tr>
    </thead>
    <tbody>
      <% search.run.each do |result| %>
        <tr>
          <td>
            <%= result.text %>
          </td>
          <td>
            <%= result.answer %>
          </td>
          <td>
            <%= result.similarity %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
