<main>




  <%= form_tag "search", :name => "searchForm", autocomplete: "off" do %>
  <div class="">
    <div class="mdc-text-field" id="s_f">
      <input type="text" id="search-field" class="mdc-text-field__input" name="q" value="" autocomplete="off">
      <label class="mdc-floating-label" for="search-field">Search</label>
      <div class="mdc-line-ripple"></div>
    </div>
    <button type="submit" class="foo-button mdc-button">
      Suche
    </button>
  </div>
  <div class="">
    <div class="mdc-text-field" id="t_f">
      <input type="text" id="trigram_limit" class="mdc-text-field__input" name="trigram_limit" value="0.3">
      <label class="mdc-floating-label" for="trigram_limit">Trigram Limit</label>
      <div class="mdc-line-ripple"></div>
    </div>

    <div class="mdc-form-field">
      <div class="mdc-checkbox">
        <input type="checkbox" name="spell_check" value="true" checked
               class="mdc-checkbox__native-control"
               id="checkbox-1"/>
        <div class="mdc-checkbox__background">
          <svg class="mdc-checkbox__checkmark"
               viewBox="0 0 24 24">
            <path class="mdc-checkbox__checkmark-path"
                  fill="none"
                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
          </svg>
          <div class="mdc-checkbox__mixedmark"></div>
        </div>
      </div>
      <label for="checkbox-1">Spell Check</label>
    </div>
  </div>





  <% end %>

</main>

<script type="text/javascript">
  ready();
</script>
